<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #loginForm="ngForm">
    <div [hidden]="true"  >
        <mat-form-field class="example-full-width">
        <input matInput placeholder="ID" required >
        </mat-form-field>
    </div>
    <mat-form-field>
        <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente" [formControl]="myControl" >
        <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="displayFn" (optionSelected)="seleccionarPaciente($event)">
        <mat-option *ngFor="let p of filteredOptions | async" [value]="p">
            {{ p.nombres }} {{p.apellidos}}
        </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Temperatura" formControlName="temperatura">
    </mat-form-field>  

    <mat-form-field>
        <input matInput placeholder="Pulso" formControlName="pulso">
    </mat-form-field>  

    <mat-form-field>
        <input matInput placeholder="Ritmo Respiratorio" formControlName="ritmo">
    </mat-form-field>  

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
            <mat-icon>done</mat-icon>
            <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/signos' type="button">
            <mat-icon>close</mat-icon>
            <span>Cancelar</span>
    </button>

    <br>

    <!--<button mat-fab color="accent" (click)="openDialog(medico)" style="float: right; margin-right: 20px">
      <mat-icon>create</mat-icon>
    </button>-->

</form>

<br/>